{% extends "base.html" %}
{% block title %}Puzzle Game{% endblock %}

{% block content %}


<body>
	<div>PUZZLE GAME</div>
	<div id="container" class="field" data-session="{{ session_id }}"></div>
	<div id="stats" class="stats"></div>
	<div id="queue" class="queue"></div>
	
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/game.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/initial.js') }}"></script>
</body>

{% endblock %}