
.row {
	vertical-align: top;
}

.cell {
	width: 40px;
	height: 40px;
	background-color: #dbdada;
	display: inline-block;
	margin: 1px;
	vertical-align: top;
}

.cell-label {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.cell-block {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
}

.queue-element {
	width: 40px;
    height: 40px;
    background-color: #dbdada;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
}

.queue-element-first {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
}

.button {
	margin-top: 100px;
	border-style: dotted;
	width: 100px;
	text-align: center;
	background: #dbdada;
	border-width: 1px;
}

.button:hover {
	cursor: pointer;
}

.veil {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #ff0000;
	opacity: .8;
	top: 0;
	left: 0;
}

.leaderboard-join {
	top: 20px;
	left: 20px;
	position: absolute;
	width: 400px;
	height: 200px;
	background-color: #ffffff;
	border: 1px;
	border-style: solid;
	padding: 10px;
}

#input-username {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-send {
	border: 1px;
    width: fit-content;
    border-style: solid;
}

.btn-send:hover {
	cursor: pointer;
}





